/* Common styles for all screen sizes */
.body-container {
  margin: auto;
  max-width: 1600px;
  min-width: 600px;
  position: relative;
  display: flex;
  min-height: 100vh; /* Set a minimum height */
  padding-top: 60px; /* Adjust according to your navbar height */
  box-sizing: border-box;
  overflow-y: auto; /* Add scrolling to the entire body container */
}

.main-content {
  margin: auto;
  margin-left: 280px;
  padding: 15px;
  flex: 1;
}

/* Hide the sidebar on small screens */
@media (max-width: 767px) {
  .sidebar-container {
    width: 0px;
    display: none;
  }
  .main-content {
    margin: auto;
    
   
    flex: 1;
  }
 
}