.body-container {
  margin: auto;
  max-width: 1600px;
  min-width: 600px;
  position: relative;
  display: flex;
  min-height: 100vh;
  padding-top: 100px;
  box-sizing: border-box;
  overflow: hidden; /* Hide any overflow from the body container */
}

.sidebar-container {
  position: fixed; /* Position the sidebar absolutely */
  width: 280px;
  padding: 15px;
  box-sizing: border-box;
  z-index: 1000; /* Ensure sidebar appears above main content */
  transition: transform 0.3s ease; /* Add a transition for smooth animation */
}

.main-content {
  padding: 15px;
  flex: 1;
  overflow-y: auto; /* Enable vertical scrolling if main content exceeds height */
  transition: margin-left 0.3s ease; /* Add a transition for smooth animation */
}

.show-sidebar .main-content {
  margin-left: 280px; /* Adjust this value to match the sidebar's width */
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
}

.mb-3 {
  margin-bottom: 15px;
}

.dark-bg {
  background-color: #333;
  height: 3px;
  margin-bottom: 10px;
}

.description-area {
  position: relative;
}

.content {
  position: relative;
  z-index: 1;
}

/* Remove margin left for card on small screens */
@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }

  /* Style for toggle button */
  .sidebar-toggle-button {
    display: block;
    position: fixed;
    top: 130px;
    left: 0px;
    z-index: 1000;
    padding-left: 2px;
    padding-right: 7px;
    background-color: white;
    border: 1px solid #ccc; /* Add a solid border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    border-top-right-radius: 15px; /* Radius only on the top-right corner */
    border-bottom-right-radius: 15px; /* Radius only on the bottom-right corner */
    cursor: pointer;
  }

  .sidebar-toggle-button::before {
    content: attr(
      data-tooltip
    ); /* Display the content from data-tooltip attribute */
    position: absolute;
    top: -23px; /* Position the tooltip above the button */
    left: 50%; /* Center the tooltip horizontally */
    transform: translateX(-50%);
    background-color: transparent; /* Tooltip background color */
    color: black; /* Tooltip text color */
    padding: 5px 5px; /* Padding around the tooltip text */
    border-radius: 5px; /* Rounded corners for the tooltip */
    font-size: 12px; /* Tooltip text size */
    opacity: 0; /* Initially hide the tooltip */
    transition: opacity 0.3s ease; /* Add transition for smooth appearance */
  }

  .sidebar-toggle-button:hover::before {
    opacity: 1; /* Show the tooltip when hovering over the button */
  }

  .sidebar-toggle-button:focus {
    outline: none; /* Remove focus outline */
  }
}
