.search-container {
  margin: 20px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  padding: 10px 20px;
  border: 1px solid #ccc;
  background: #f7f6f6;
  outline: none;
  margin-right: 20px;
  border-radius: 20px;
  width: 17rem;
  height: 40px;
  display: flex;
  align-items: center;
}

.search-input input[type="text"] {
  border: none;
  background: transparent;
  outline: none;
  flex: 1;
}

.search-input .search-icon {
  margin-right: 10px;
}
