.post-container {
  max-width: 1200px;
  min-width: 400px;
  padding: 25px;
}

.card-post {
 margin-right: 600px;
 width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
  @media (max-width: 768px) {
    .card-post {
      width: 100%; /* Adjust the width to fit the screen */
      margin-right: 0; /* Remove the right margin */
      margin-bottom: 20px; /* Add some bottom margin for spacing */
    }
}