/* Navbar.css */

.navbar-container {
  position: absolute;
  margin: 10px;
  border-radius: 15px;
  min-height: 20px; /* Change to min-height to allow for dynamic content */

  padding: 10px 0; /* Adjust the padding as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0.05, 0.1); /* Add shadow effect */
  
  /* Add background blur using backdrop-filter (for modern browsers) */
  backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
  -webkit-backdrop-filter: blur(10px); /* For Safari */

  /* Fallback background color with opacity (for older browsers) */
  background-color: rgba(15, 37, 54, 0.516); /* Adjust color and opacity as needed */
  
}


.navbar-toggler-icon {
  background-color: transparent; /* Set background color to transparent */
  border: none; /* Remove border */
  color: white; /* Set the color to white */
}

.navbar-toggler {
  margin-right: 50px;
  padding: 0.25rem 0.75rem; /* Adjust padding as needed */
  font-size: 1.25rem; /* Adjust font size as needed */
  line-height: 1.5; /* Adjust line height as needed */
}

.navbar-nav.ml-auto {
  margin-left: auto !important;
}

.logo-container {
  color: white !important; /* Set text color to white */
  margin: auto;
  margin-left: 100px;
  display: flex;
  align-items: center;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Adjust spacing between logo and text */
}

.brand-text {
  font-size: 1.2rem; /* Adjust font size as needed */
}


.logo {
  width: 40px; /* Adjust the logo width as needed */
}

.nav-link {
  color: white !important; /* Set text color to white */
  margin-right: 25px; /* Adjust margin as needed */
}

.user-image-placeholder {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 10px;
}

.user-image-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar-nav .nav-link {
  padding-right: 10px;
}

/* Apply shadow on the toggler */
.toggle-center {
  position: fixed;
  right: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}


@media (max-width: 1000px) {
  .navbar-collapse {
    background-color: #2e3e6800; /* Apply background color to the collapsed navbar */
  }

  .nav-link {
    display: block; /* Display nav links as block elements */
    padding: 10px 0; /* Adjust padding as needed */
    text-align: center; /* Center align nav links */
  }
}
